/*.ion-color-primary {
    --ion-color-shade: #fff !important;
    font-weight: bold;
    font-size: 1.1rem;
}

.list-md {
    padding-top: 0px;
    padding-bottom: 0px;
}

.ion-color .item-inner {
    border-color: none;
}

.ion-color-primary {
    --ion-color-shade: #06bdbb !important;
}

ion-icon {
    margin-inline-end: 20px;
    font-size: 2rem;
}
.ion-color-primary{
    font-size: 1.8rem;
}
.inbox-list{
    height: 100%;
    align-items: center;
    display: flex;
}
*/

.inbox-list {
   // background-color: #33cccc;
    color: white !important;
}

.contentClass {
   // background-color: #33cccc !important;
   // color: #33cccc;
}

.inbox-list {
    height: 100%;
    display: flex;
}

.title {
    text-align: center;
    color: #fff;
}

.recordingiconcls {
    --ionicon-stroke-width: 30px;
    color: #fff;
}

ion-menu-button {
    color: #fff;
}

.inbox-list ion-label {
    font-size: 1.8rem;
}

.inbox-list ion-row {
    margin: 0 0 10px;
}

.inbox-list .btm-menu {
    margin: 0 0 45px;
}

.inbox-list .btm-menu ion-col {
    padding-left: 10px;
}

.appName {
    background-color: white;
    color: #33cccc;
}

.voice-row {
    padding: 20px 0;
    background: #fff;
    border-radius: 0 6px 6px 0;
    box-shadow: 0px 3px 6px 0px #c5c5c5 inset;
}

.label-voice {
    padding: 0 0 0 58px;
    background: transparent;
}

.label-voice img {


    left: -6px;
    top: -9px;
    height: auto;
    width: 70px;
    padding-right: 0 !important;
    position: absolute;
    @media(max-width: 360px) {
        left: 1px;
    top: -15px;
    width: 60px;
    }
}

.inbox-list .label-voice ion-label {
    font-size: 2.5rem;
}

.inbox-list #main-grid {
    padding-left: 0;
    padding-right: 25px;
}

.menu-icons {
    width: 36px;
    margin-right: 14px;
    float: left;
}

.active-menu {
    padding: 6px 0;
    background: #fff;
    border-radius: 0 6px 6px 0;
    box-shadow: 0px 3px 6px 0px #c5c5c5 inset;
    color: #33cccc;
}

.btn-home {
    padding-top: 60px
}

@media screen and (max-width: 376px) and (min-width: 374px) {
    .btm-menu {
        font-size: 18px !important;
        margin: 0 0 26px !important;
    }
}

@media(max-width:360px) {
    ion-label {
        font-size: 1.5rem !important
    }
    .btm-menu {
        font-size: 18px !important;
        margin: 0 0 26px !important;
    }
}